body{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
  background: rgb(24, 24, 24);
  margin: 0;
  font-family: "Roboto",sans-serif;
  flex-direction: column;
}

.title{
  margin-top: 38px;
  color: rgb(239, 239, 239);
  text-shadow: 0 2px 8px rgba(137, 129, 129, 0.33);
  font-weight: bold;
  font-size: 22px;
}

.title-e{
  display: inline-block;
  transform: rotate(-15deg);
  margin-left: 3px;
  margin-right: 2px;
  color: #f39c12
}

.board{
  display: grid;
  grid-template-rows: repeat(6,1fr);
  gap: 10px;
  margin-top: 10px;
  color: white;
  font-weight: 600;
}

.grid{
  display: grid;
  grid-template-columns: repeat(5,60px);
  gap: 10px;
}

.cell{
  width: 60px;
  height: 60px;
  border: 2px solid rgb(165, 165, 165);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  text-transform: uppercase;
  perspective: 600px;            
  transform-style: preserve-3d; 
  backface-visibility: hidden;
}

.cell.flip {
  animation: flip 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
    background-color: #121212;
  }
  50% {
    transform: rotateX(90deg);
    background-color: #121212;
  }
  100% {
    transform: rotateX(0deg);
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  transform: translateY(-65px);
}

.row {
  display: flex;
  gap: 6px;
}

button {
  padding: 12px 8px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  background-color: #818384;
  color: white;
  cursor: pointer;
  user-select: none;
}

button.wide {
  flex: 1.5;
}

button:active {
  background-color: #565758;
}


.correct{
  background-color: #33db33;
  color: white;
  border: none;
}
.present{
  background: rgb(234, 242, 21);
  color: white; 
}
.absent { 
  background: rgb(77, 77, 77); 
  color: white; 
}

